{% extends 'base_template.html' %}
{% load crispy_forms_filters %}

{% block title %}
    Sign In
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-4">
                {% include 'alerts.html' %}
                <form action="{% url 'signin' %}" method="post" enctype="multipart/form-data" class="shadow py-5 px-5">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button class="btn btn-dark">Sign In</button>
                </form>
            </div>

        </div>
    </div>
{% endblock %}

